body {
    background-color:rgb(18, 17, 17); /* Bootstrap primary blue */
    color: rgb(255, 215, 0); /* Text color for better contrast on the blue background */
   
}
.navbar-nav .nav-link {
            font-size: 18px; /* Adjust the font size as needed */
        }
.container {
    border-radius: 5px; /* Optional: Add some border-radius for a softer look */
    padding: 20px;
    margin-top: 50px; /* Adjust the margin as needed */
}

.cdClass{
	background-color:rgb(255, 215, 0);
	border-radius: 10px;
}

 