body {
    background-color:rgb(18, 17, 17); 
    color: rgb(255, 215, 0); 
   
}
.navbar-nav .nav-link {
            font-size: 18px; 
        }
.container {
    border-radius: 5px; 
    padding: 20px;
    margin-top: 50px; 
}

.cdClass{
	background-color:rgb(255, 215, 0);
	border-radius: 10px;
}

 